@if (!disableSignin() && (user$ | async) === null) {
  <input #email type="email"/>
  <button (click)="login(email.value)">Login</button>
} @else {
  @if (isAdmin$ | async) {
    Admin!<br />
    @for (user of userArray$ | async; track $index) {
      <input type="checkbox" (change)="toggleMaintainer(user[0], $event.currentTarget)" [checked]="(maintainers$ | async)?.has(user[0])" />
      {{ user[1] }} @if ((admins$ | async)?.has(user[0])) {
       — Admin
      } <br />
    }
  }
  @if (isMaintainer$ | async) {
    Maintainer!<br />
    <input type="file" #fileUpload multiple #upload>
    <button (click)="uploadImages(upload)">Upload</button>
    @for (image of images$ | async; track $index) {
      <img [src]="image.imageUrl" />
      <button (click)="deleteImage(image.name)">Delete</button>
      <br />
    }
  }
  @if (!(isAdmin$ | async) && !(isMaintainer$ | async)) {
    Unauthorized!
  }
}